<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
    #login_form{
        width:100%;
        height:100%;
        background-color:#fff;
        margin:0 auto;
        position: fixed;
        top: 0;
        left: 0;
    }
    .title{
        width:100%;
        height:90px;
        float: left;
        color:#ffffff;
        margin-bottom: 3%;
        background-color:#0e73b6fd;
        border-bottom:1px solid #ffffff;
        font-size:24pt;
        font-family:"楷体";
        line-height:90px;				
    }	
    .title img{
        margin-top:18px;
        margin-right: 3%;
        margin-left: 5%;
        width: 55px;
        float: left;
    }
.left{
    height: 70%;
    width: 10%;
    border: 2px solid rgb(185, 183, 183);
    float: left;
    margin-left: 6%;
}
.left div:hover {
    background-color:#0e73b6fd;
    cursor:pointer;
}
.left h2{
    /* line-height: 100%; */
    /* padding-top: 2%; */
    font-family: "楷体";
}
.a{
    height: 15%;
    width: 100%;
    background-color: rgb(185, 183, 183);
    /* margin-top: 8px; */
    float: left;
    color: #fff;
    text-align:center;
    /* justify-content: center; */
}
.main{
    height: 70%;
    width: 80%;
    border: 1px solid rgb(185, 183, 183);
    float: left;
    margin-left: 10px;
}
.top{
    height: 100px;
    width: 920px;
    border-bottom: 1px solid rgb(185, 183, 183);
    float: left;
}
.top input{
    margin-left: 100px;
    margin-top: 30px;
    width:35%;
    height:40px;
    border-radius: 10px 0 0 10px;
    /* border-color:rgb(167, 167, 167) ; */
    border:2px solid rgb(167, 167, 167);
    background-color:transparent;
    outline-color: rgb(167, 167, 167)s;
}
.search_Bt{
    background-color:#0e73b6fd;
    width:6%;
    height:46px;
    border:0;
    border-radius: 0 10px 10px 0;
    color:white;
    font-size:15px;
    margin-top:30px;
    position:absolute;
    cursor: pointer;
}
/* .top h1{
    color:#0e73b6fd;
    float: left;
    padding-left:20px;
} */

.botton{
    /* text-align: center; */
    width: 100%;
    background-color: yellow;
    
}
.botton table{
    background-color: #0e73b6fd;
}
.botton td th tr{
    width:10%
}
.add{
    height: 40px;
    width: 10%;
    font-size: 15px;
    text-align: center;
    float: right;
    color: white;
    border:0;
    margin-right: 20%;
    /* margin-left:20px; */
    margin-top: 35px;
    border-radius:10px;
    background-color: #0e73b6fd;
    cursor: pointer;
}
.bottom{
    bottom: 70px;
    left: 300px;
    position: absolute;
}
.btn1{
    margin-left: 600px;
}
.btn2{
    margin-left: 20px;
}

    </style>
</head>
<body>
    <div id="login_form">
        <div class="title">
            <img src='../images/E.png'/>
            <%= title %>
            <p  onclick="backhome()" style="font-size: 20px;color:white;float:right;cursor:pointer;margin-right: 20%;"> 《 回首页 </p>
					
        </div>
        <div class="left">
            <div class="a" style="background: #0e73b6fd;cursor:pointer;">
                <h2 onclick="companySys()">企业信息</h1>
            </div>
            <div class="a" style="margin-top:3%">
                <h2 onclick="companyList()">企业榜单</h1>
            </div>
            <div class="a" style="margin-top:3%">
                <h2 onclick="zhaopin()">招聘信息</h1>
            </div>
            <div class="a" style="margin-top:3%">
                <h2 onclick="project()">项目信息</h1>
            </div>
        </div>
        <div class="main">
            <div class="top">
                <!-- <h1>项目库</h1> -->
                <button class="add" onclick="addcompany()">添加企业</button>
                <form class="myform" >
                    <input type='text' value='' placeholder="请输入项目名"
                    class="search_Dongtai" id="search_Dongtai" autocomplete="off" name="search_Dongtai">
                    <button type='submit' class="search_Bt" id="search_Bt" > 查找</button>
                    <!-- <button>替换</button> -->
                </form>
            </div>
            <div class="botton">
                <table>
                    <tr style="font-size: 10px;font-family: 宋体">
                      <th>企业ID</th>
                      <th>企业名</th>
                      <th>负责人</th>
                      <th>企业地址</th>
                      <th>职位</th>
                      <th>项目</th>
                      <th>联系方式</th>
                      <th>企业介绍</th>
                      <th>logo</th>
                      <th>新闻id</th>
                      <th>成立时间</th>
                      <th>城市</th>
                    </tr>
                    <%for(var i=0;i < company.length;i++){%>
                        <tr style="font-family: '宋体', Courier, monospace;
                        font-size: 6px;">
                            <td>
                                <%= company[i]["companyid"]%>
                            </td>
                            <td>
                                <%= company[i]["companyname"]%>
                            </td>
                            <td>
                                <%= company[i]["personname"]%>
                            </td>
                            <td>
                                <%= company[i]["companypos"]%>
                            </td>
                            <td>
                                <%= company[i]["zhiwei"]%>
                            </td>
                            <td>
                                <%= company[i]["projectname"]%>
                            </td>
                            <td>
                                <%= company[i]["companytel"]%>
                            </td>
                            <td>
                                <%= company[i]["companyintro"]%>
                            </td>
                            <td>
                                <%= company[i]["companylogo"]%>
                            </td>
                            <td>
                                <%= company[i]["newsid"]%>
                            </td>
                            <td>
                                <%= company[i]["companytime"]%>
                            </td>
                            <td>
                                <%= company[i]["city"]%>
                            </td>
                            <td>
                                <div>
                                    <a href="/editC?companyid=<%=company[i]["companyid"]%>">
                                        <img src="../images/edit.png" alt="" style="width: 20px;">
                                    </a>
                                </div>
                                <div>
                                    <a href="/delcompany?companyid=<%= company[i]["companyid"]%>">
                                        <img src="../images/delete.png" alt="" style="width: 20px;">
                                    </a>
                                </div>
                            </td>
                        </tr>
                    <%}%>

                   
                  </table>
            </div>
        </div>
       
    </div>
</body>
<script>
    function companySys() {
        window.location = "http://localhost:3000/companyg";
    }
    function companyList() {
        window.location = "http://localhost:3000/bangdang";
    }
    function zhaopin() {
        window.location = "http://localhost:3000/zhaoping";
    }
    function project() {
        window.location = "http://localhost:3000/projectg";
    }
    function backhome(){
        window.location = "http://localhost:3000/home";
    }
    function addcompany(){
        window.location = "http://localhost:3000/addC";
    }
</script>
</html>
